main {
    background: url(../img/bg-menu-01.jpg) center/cover no-repeat;
    background-position: bottom;
    background-size: 100% 65%;
    padding: 50px;
    min-height: 1000px;

    .navbar {
        max-width: 700px;
        margin: 0 auto;
        color: $colorwhite;
        padding-bottom: 30px;
        ul {
        @include center;
        justify-content: space-around;


        li {
            position: relative;
            padding-bottom: 10px;

            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: $colorwhitetransparent;
                bottom: 0;
                
            }
        }

        
        }

    
    }

    .menu {
        background: $colorwhite;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        padding: 30px 10px 10px 10px;

        &::before {
            content: "";
            position: absolute;
            height: 5px;
            background: $colororange;
            width: 100%;
            top: 0;
            
        }

        .flex_menu{
            border-bottom: dashed $colorwhitetransparent 1px;
            @include center;
            padding: 20px;
            justify-content: flex-start;


            img {
                border-radius: 50px;
                width: 80px;
            }

            .price{
                color: $colororange;
                font-weight: 900;
            }

            div {
                text-align: left;
                width: 80%;
                padding: 0 25px 0 15px;

                h6 {
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    line-height: 20px;
                }

            }
           
        }
    }

    

}