.section4 {
    min-height: 600px;
    background: url(../img/gmap.jpg) center/cover no-repeat;
    background-size: 100% 60%;
    background-position: bottom;
    margin: 0 auto;

    .section4_container {
    padding: 80px 50px;
    max-width: 1100px;
    margin: 0 auto;
    


div {
    position: relative;
    background: $colorwhite;
    padding: 50px;

img {
    position: absolute;
    border-radius: 80px;
    width: 60px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}


span {
    color: black;
}

p {
    line-height: 30px;
    margin: 20px 0;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

h6 {
font-size: 0.9rem;
color: $colororange;
font-weight: 100;
}

}

}

}